# Movie Lens 100K EDA
## Import Libraries

In [2]:
import numpy as np
import pandas as pd

## Load Data

In [ ]:
file_path_ratings = 'Dataset/ratings.csv'
file_path_movies = 'Dataset/movies.csv'

df_ratings = pd.read_csv(file_path_ratings)
df_movies = pd.read_csv(file_path_movies)
print(df_movies.head())

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

## Summary
### Observations
* Data is test
### Recommendations
* I recommend test
* also example test